{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--подключаем-->
<head>
    <meta charset="UTF-8">
    <!--css-->
    <link type="text/css" href="{% static 'app1/css/style.css' %}" rel="stylesheet"/>
    <!--шрифт-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <title>Добавить вакансию</title>
</head>
<body>
<header class="header">
    <div class="header_inner">
        <div class="logo">EASYJOB</div>
        <!--Ссылки-->
        <nav class="nav">
            <a class="nav_link" href="{% url 'index' %}">О сервисе</a>
            <a class="nav_link active" href="{% url 'vakancii' %}">Вакансии</a>
            <a class="nav_link" href="{% url 'freelancer' %}">Фрилансеры</a>
            <a class="nav_link" href="{% url 'contact' %}">Контакты</a>
            <a class="nav_link" href="{% url 'registr' %}">Регистрация</a>
            <a class="nav_link" href="#">Вход</a>
        </nav>
    </div>
</header>

<div class="container">
    <div class="ttable">
        <div class="section_text">
            <div class="section_header">кнопки</div>
            <div class="section_header">кнопки</div>
             <div class="addvacancii">
            <div class="section_title_contact"> Расскажите о вакансии</div>
             <a class="btn" href="{% url 'addvacancii' %}">Отправить</a>
             </div>
           <div class="my_workspce">

            <h2>Добавить вакансию</h2>
             <form action="{% url 'addvakancii' %}" method="post">
                 {% csrf_token %}
                 <div class="form-error">{{ form.non_field_errors }}</div>

                 {% for f in form %}
                  <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
                 <div class="form-error">{{ f.errors }}</div>
                 {% endfor %}

                 <button class="btn" id="addvakancii" ><b>Создать</b></button>
             </form>


        </div>

    </div>
</div>
</body>
</html>